<div class="bootstrap-wrapper">
    <div class="container">
        <mat-list>
            <mat-list-item *ngFor="let q of auditQuestionsList">
                <!--<div>{{q.questionId}}</div>-->
                <div mat-line >{{q.question}}</div>
                <mat-form-field class="pt-20" appearance="outline">
                    <mat-label>Select Response</mat-label>
                    <mat-select [(ngModel)]="q.response">
                      <mat-option value="Yes">Yes</mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-divider></mat-divider>
            </mat-list-item>
            <div class="container mt-20 text-center pb-40">
                <button mat-raised-button (click)="saveResponse()" color="primary" >Next</button>
            </div>
        </mat-list>

    </div>
</div>