<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-40 mt-30">
      <div class="col-md-10 offset-md-1">
          <div class="container mt-100 text-center">
            <h1> Choose Audit Type</h1>
        <div class="container mt-40 mb-100 full-width text-center">
            <button (click)="clickInternal()"  class="button big-btn" mat-raised-button color="primary" > Internal </button>
            <button  (click)="clickSOX()" class="button big-btn ml-40" mat-raised-button color="accent" > SOX  </button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
