<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt-40 mt-30">
            <div class="col-md-10 offset-md-1">
                <h2>Project Details : </h2>
                <form (ngSubmit)="submitAudit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Project Name</mat-label>
                        <input [(ngModel)]="auditRequest.projectName" type="text" name="projectName" matInput placeholder="Enter the Project Name" required>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Project Manager Name</mat-label>
                        <input [(ngModel)]="auditRequest.projectManagerName" type="text" name="projectManagerName" matInput placeholder="Enter the Project Manager Name" required>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Application Owner Name</mat-label>
                        <input [(ngModel)]="auditRequest.applicationOwnerName" type="text" name="applicationOwnerName" matInput placeholder="Enter the Application Owner Name" required>
                    </mat-form-field>
                      <div class="container mt-40 full-width text-center">
                        <button type="submit" mat-raised-button color="primary" > Submit </button>
                        <button type="reset" class="ml-20" mat-raised-button color="accent" > Reset </button>
                    </div>
                    <div class="mb-60"></div>
                </form>
            </div>               
        </div>
    </div>
</div>