.ml-40{
    margin-left: 40px;
}

.mb-100{
    margin-bottom:200px;
}

.mt-40{
    margin: top 40px;
}

.mt-100{
    margin-top: 150px;
}
button {
   
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    text-align: center;
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 120px;
    height: 60px;
}


h1{
    font-size: 40px;
}